body{
    background-image: url("../images/art-background4.jpg");
    background-size: cover;
}

@font-face {
    font-family: 'Six Caps';
    src: url(../fonts/SixCaps-Regular.ttf);
}

header{
    background-color: white;
    display: inline-block;
    margin-left: 150px;
    padding-top: 1em;
    padding-right: 4em;
    height: 100px;
    
    
}
h1{
    font-family: 'Six Caps';
    font-size: 50px;
    text-align: center;
    padding-left: 0.5em;
}

h2{
    padding-left: 1.5em;
}

article{
    background-color: rgba(255, 255, 255, 0);
    margin-left: 150px;
    margin-top: 125px;
    width: 500px;
    height: 100px;
}

article h2{
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-family: sans-serif;
    padding: 1em;
    padding-top: 1em;
}

#nuestro{
    font: 1em sans;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 0.7em;
    padding-top: 1em;
    height: 100px;
    font-size: 27px;
    font-weight: 700;
}



a {
    text-decoration: dotted underline;
    text-align: center;
    padding-left: 1em;
}

article p+p{
    background-color: rgba(91, 87, 82, 0.9);
    margin-right: 20%;
    margin-left: 1em;
    margin-top: 1em;
    width: 310px;
    color: white;
    padding: 0.75em;
    position: absolute;
    top: 360px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

footer{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5em;
}